* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .home,
  .profile,
  .reports,
  .contact,
  .events,
  .settings {
    display: flex;
    margin-left: 260px;
    font-size: 2rem;
  }